@model IEnumerable<CRUDD.Models.Tranzakcia>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Сберкнижка</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AccountNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PoluchatelName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amout)
                    </th>
                    <th>
                        <a asp-action="AddOrEdit" class="btn btn-sm btn-success">
                            <i class="fa-solid fa-plus"></i> Добавить
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PoluchatelName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amout)
                        </td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@item.TranzakciaId">
                                <div class="btn-group btn-group-sm">
                                    <a asp-action="AddOrEdit" asp-route-id="@item.TranzakciaId" class="btn btn-warning">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Вы уверены, что хотите удалить эту запись?')">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

